<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hi</key>
		<string>あ</string>
		<key>ka</key>
		<string>ア</string>
		<key>en</key>
		<string>a</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>い</string>
		<key>ka</key>
		<string>イ</string>
		<key>en</key>
		<string>i</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>う</string>
		<key>ka</key>
		<string>ウ</string>
		<key>en</key>
		<string>u</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>え</string>
		<key>ka</key>
		<string>エ</string>
		<key>en</key>
		<string>e</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>お</string>
		<key>ka</key>
		<string>オ</string>
		<key>en</key>
		<string>o</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>か</string>
		<key>ka</key>
		<string>カ</string>
		<key>en</key>
		<string>ka</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>き</string>
		<key>ka</key>
		<string>キ</string>
		<key>en</key>
		<string>ki</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>く</string>
		<key>ka</key>
		<string>ク</string>
		<key>en</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>け</string>
		<key>ka</key>
		<string>ケ</string>
		<key>en</key>
		<string>ke</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>こ</string>
		<key>ka</key>
		<string>コ</string>
		<key>en</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>が</string>
		<key>ka</key>
		<string>ガ</string>
		<key>en</key>
		<string>ga</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぎ</string>
		<key>ka</key>
		<string>ギ</string>
		<key>en</key>
		<string>gi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぐ</string>
		<key>ka</key>
		<string>グ</string>
		<key>en</key>
		<string>gu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>げ</string>
		<key>ka</key>
		<string>ゲ</string>
		<key>en</key>
		<string>ge</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ご</string>
		<key>ka</key>
		<string>ゴ</string>
		<key>en</key>
		<string>go</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>さ</string>
		<key>ka</key>
		<string>サ</string>
		<key>en</key>
		<string>sa</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>し</string>
		<key>ka</key>
		<string>シ</string>
		<key>en</key>
		<string>si</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>す</string>
		<key>ka</key>
		<string>ス</string>
		<key>en</key>
		<string>su</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>せ</string>
		<key>ka</key>
		<string>セ</string>
		<key>en</key>
		<string>se</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>そ</string>
		<key>ka</key>
		<string>ソ</string>
		<key>en</key>
		<string>so</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ざ</string>
		<key>ka</key>
		<string>ザ</string>
		<key>en</key>
		<string>za</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>じ</string>
		<key>ka</key>
		<string>ジ</string>
		<key>en</key>
		<string>zi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ず</string>
		<key>ka</key>
		<string>ズ</string>
		<key>en</key>
		<string>zu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぜ</string>
		<key>ka</key>
		<string>ゼ</string>
		<key>en</key>
		<string>ze</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぞ</string>
		<key>ka</key>
		<string>ゾ</string>
		<key>en</key>
		<string>zo</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>た</string>
		<key>ka</key>
		<string>タ</string>
		<key>en</key>
		<string>ta</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ち</string>
		<key>ka</key>
		<string>チ</string>
		<key>en</key>
		<string>ti</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>つ</string>
		<key>ka</key>
		<string>ツ</string>
		<key>en</key>
		<string>tu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>て</string>
		<key>ka</key>
		<string>テ</string>
		<key>en</key>
		<string>te</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>と</string>
		<key>ka</key>
		<string>ト</string>
		<key>en</key>
		<string>to</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>だ</string>
		<key>ka</key>
		<string>ダ</string>
		<key>en</key>
		<string>da</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぢ</string>
		<key>ka</key>
		<string>ヂ</string>
		<key>en</key>
		<string>di</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>づ</string>
		<key>ka</key>
		<string>ヅ</string>
		<key>en</key>
		<string>du</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>で</string>
		<key>ka</key>
		<string>デ</string>
		<key>en</key>
		<string>de</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ど</string>
		<key>ka</key>
		<string>ド</string>
		<key>en</key>
		<string>do</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>な</string>
		<key>ka</key>
		<string>ナ</string>
		<key>en</key>
		<string>na</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>に</string>
		<key>ka</key>
		<string>ニ</string>
		<key>en</key>
		<string>ni</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぬ</string>
		<key>ka</key>
		<string>ヌ</string>
		<key>en</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ね</string>
		<key>ka</key>
		<string>ネ</string>
		<key>en</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>の</string>
		<key>ka</key>
		<string>ノ</string>
		<key>en</key>
		<string>no</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>は</string>
		<key>ka</key>
		<string>ハ</string>
		<key>en</key>
		<string>ha</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ひ</string>
		<key>ka</key>
		<string>ヒ</string>
		<key>en</key>
		<string>hi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ふ</string>
		<key>ka</key>
		<string>フ</string>
		<key>en</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>へ</string>
		<key>ka</key>
		<string>ヘ</string>
		<key>en</key>
		<string>he</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ほ</string>
		<key>ka</key>
		<string>ホ</string>
		<key>en</key>
		<string>ho</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ば</string>
		<key>ka</key>
		<string>バ</string>
		<key>en</key>
		<string>ba</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>び</string>
		<key>ka</key>
		<string>ビ</string>
		<key>en</key>
		<string>bi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぶ</string>
		<key>ka</key>
		<string>ブ</string>
		<key>en</key>
		<string>bu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>べ</string>
		<key>ka</key>
		<string>ベ</string>
		<key>en</key>
		<string>be</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぼ</string>
		<key>ka</key>
		<string>ボ</string>
		<key>en</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぱ</string>
		<key>ka</key>
		<string>パ</string>
		<key>en</key>
		<string>pa</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぴ</string>
		<key>ka</key>
		<string>ピ</string>
		<key>en</key>
		<string>pi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぷ</string>
		<key>ka</key>
		<string>プ</string>
		<key>en</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぺ</string>
		<key>ka</key>
		<string>ペ</string>
		<key>en</key>
		<string>pe</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ぽ</string>
		<key>ka</key>
		<string>ポ</string>
		<key>en</key>
		<string>po</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ま</string>
		<key>ka</key>
		<string>マ</string>
		<key>en</key>
		<string>ma</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>み</string>
		<key>ka</key>
		<string>ミ</string>
		<key>en</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>む</string>
		<key>ka</key>
		<string>ム</string>
		<key>en</key>
		<string>mu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>め</string>
		<key>ka</key>
		<string>メ</string>
		<key>en</key>
		<string>me</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>も</string>
		<key>ka</key>
		<string>モ</string>
		<key>en</key>
		<string>mo</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>や</string>
		<key>ka</key>
		<string>ヤ</string>
		<key>en</key>
		<string>ya</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ゆ</string>
		<key>ka</key>
		<string>ユ</string>
		<key>en</key>
		<string>yu</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>よ</string>
		<key>ka</key>
		<string>ヨ</string>
		<key>en</key>
		<string>yo</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ら</string>
		<key>ka</key>
		<string>ラ</string>
		<key>en</key>
		<string>ra</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>り</string>
		<key>ka</key>
		<string>リ</string>
		<key>en</key>
		<string>ri</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>る</string>
		<key>ka</key>
		<string>ル</string>
		<key>en</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>れ</string>
		<key>ka</key>
		<string>レ</string>
		<key>en</key>
		<string>re</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ろ</string>
		<key>ka</key>
		<string>ロ</string>
		<key>en</key>
		<string>ro</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>わ</string>
		<key>ka</key>
		<string>ワ</string>
		<key>en</key>
		<string>wa</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>を</string>
		<key>ka</key>
		<string>ヲ</string>
		<key>en</key>
		<string>wo</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ん</string>
		<key>ka</key>
		<string>ン</string>
		<key>en</key>
		<string>n</string>
	</dict>
	<dict>
		<key>hi</key>
		<string>ゔ</string>
		<key>ka</key>
		<string>ヴ</string>
		<key>en</key>
		<string>vu</string>
	</dict>
</array>
</plist>
